@import "common/mixins";
@import "common/variables";

body{
    background: @bg;
    margin-top: @top-gutter;
    font-family: @default-font;
}

#content {
    .flex-center();

    .panel {
        .border-radius(5px, 5px, 0, 0);
        background-color: @off-white;
        position: relative;
        padding: @panel-top-gutter;
        display: flex;
        flex-direction: column;

        span {
            display: flex;
            justify-content: flex-start;
            margin: 15px 0;
        }

        label {
            width: 160px;
            padding-top: @default-padding - 4px;
        }

        input {
            height: 24px;
            width: 100%;
        }
    }
}

.avatar {
    position: absolute;
    left: 145px;
    top: -60px;
    .circle(120px);
    border: 2px solid @off-white;
}

.errors-panel {
    list-style: decimal-leading-zero;
    margin: 0;

    li {
        color: orangered;
    }
}