@import "common/mixins";
@import "common/variables";

.btn {
    cursor: pointer;
    border-width: 0;
    height: 30px;
    width: 100%;
    background-color: @btn-bg;
    color: @off-white;
    transition: background-color 0.3s;
    font-size: @btn-size;
    font-family: @default-font;

    &:hover{
        background-color: @btn-hover;
    }

    &.btn-scaled {
        vertical-align: middle;
        padding-top: @default-padding;
        height: 32px;
        width: 100%;
        display: inline-block;
        .border-radius(0, 0, 5px, 5px);
    }
}

a.btn {
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    padding-top: @default-padding - 4px;
    height: 24px;
    display: inline-block;
}