<%- include('header') -%>
<div class="form-wrapper">
    <ul class="errors-panel">
      <% errors.forEach(function(error){ %>
        <%- include('alerts', {message: error}); %>
      <% }); %>
    </ul>
    
    <form class="panel" action="/login" method="post">
        <h2>Signin</h2>
        <span>
            <label>Email: </label>
            <input name="username" required="" type="email">
        </span>
        <span>
            <label>Password: </label>
            <input name="password" required="" type="password">
        </span>
        <span>
            <button class="btn" type="submit">Signin</button>
        </span>
        <span>
             <img class="git-icon" width="30" height="30"
                src="https://hammerjs.github.io/assets/img/github-icon.png">

            <a class="btn" href="/auth/github">Github Signin</a>
        </span>
    </form>
    <div class="separator"></div>
    <span>
        <a class="btn btn-scaled" href="/register">Or create new account</a>
    </span>
</div>
<%- include('footer') -%>
